body{
    background-color: rgb(107, 231, 204);
    margin: 0;
    box-sizing: 0;
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(56, 144, 173, 0.808);
}

.titulo{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.836);
    text-align: center;
}
#search{
    border-radius: 8px;
    border: 2px solid rgb(115, 165, 223);
    font-size: 15px;
    margin: 20px ;
}
#main{
    display: flex;
}
.person{
    margin: 30px ;
    display:inline-block;
    justify-items: center;
    align-items: center;
    border: 1px solid lightblue;
    background-color: rgba(95, 174, 201, 0.427);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(41, 121, 219, 0.273);
    margin: 5px;
    width: 200px;
    height: 150px;
    
}
.person h2{
    font-size: 15px;
    text-align: center;
}
.person img{
    width: 100px;
    margin: auto;
    

}

@media (min-width:1280px){
    #body{
        background-color: rgba(41, 218, 129, 0.534);
    }
    #header{
        background-color: rgba(48, 166, 221, 0.479);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo{
        font-size: 50px;
        color: rgba(0, 0, 0, 0.829);
    }
    #search{
        font-size: 30px;
        margin:7px;
    }
    .personaje{
        margin: 5px;
        width: 250px;
        height: 150px;
    }

}
