body{
    background-color: rgb(107, 231, 204);
    margin: 0;
    box-sizing: 0;
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(56, 144, 173, 0.808);
}

.titulo{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.836);
}
#search{
    border-radius: 8px;
    border: 2px solid rgb(115, 165, 223);
    font-size: 20px;
    margin: 20px ;
}

@media (min-width:1280px){
    #body{
        background-color: rgba(41, 218, 129, 0.534);
    }
    #header{
        background-color: rgba(48, 166, 221, 0.479);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo{
        font-size: 50px;
        color: rgba(0, 0, 0, 0.829);
    }
    #search{
        font-size: 30px;
        margin:7px;
    }

}
